# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# AI Skills folders
skills/
.claude/
.vscode/
.kilocode/
.agents/

# custom ignored files
DESIGN.md
design.md
tsconfig.json
skills-lock.json
qr-guy.com.code-workspace
src/seo-config.json

